section {
  background-color: #041e23;
  border: 1pt solid #0e464f;
  width: 50%;
  margin: 50px auto;
  padding: 50px 25px;
  border-radius: 20px;
  color: #fff;
}

.heading-and-progressbar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-bar {
  height: 5px;
  background-color: #0e464f;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.progress-bar-fill {
  background-color: #24a0b5;
  padding: inherit;
  width: 66.6%;
  border-radius: 5px 0 0 5px;
}

.attendee-details-form {
  background-color: #08252b;
  padding: 20px;
  border: 1pt solid #0e464f;
  margin-top: 20px;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form div .name-input,
textarea,
.email-input {
  width: 100%;
  border: 1pt solid #07373f;
  padding: 15px;
  outline: none;
  border-radius: 10px;
  background-color: inherit;
  color: #fff;
  font-family: inherit;
}
